*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 5px;
}

.container{
    height: 95vh;
    width: 90vw;
    padding: 2rem 1rem;
    margin:  auto;
}

.header-title{
    text-align: center;
    font-size: 2rem;
}

.card-container{
    height: 310px;
    width: 250px;
    border: 1px solid gray;
    box-shadow: 0 0 10px black;
}

.card-image-container > img{
    max-width: 100%;
}

.avatar-container > img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.card-title-container{
    padding: 3px;
}

.card-footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

.avatar-container{
display: flex;
gap: 3px;
}

.a{
    text-decoration: none;
}

p{
    max-width: 100%;
}


.card-tag-container > span{
    border: 2px solid red;
    padding: 3px;
}